#root {
  margin: 0 auto;
  padding: 0,5rem;
  text-align: center;
}

.appContainer {
  background-image: url("../assets/appBkgrnd.webp");
  background-size: 100% 100%;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
}

.logo {
  margin-top: 20px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.appMain {
  background-color: rgba(138, 43, 226, 80%);
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  border: 5px solid rgb(70, 23, 114);  
  box-shadow: 0px 0px 70px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-image: url("../assets/gameBkgrnd.webp"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .logo {
    width: 50%;
  }
}
